<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickNBuy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"/>
</head>
<body>
    
<link rel="stylesheet" href="/styles/home.css">
<script src="https://kit.fontawesome.com/fd7e4b7ef5.js" crossorigin="anonymous"></script>


<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-gifts"></i>&nbsp;ClickNBuy</a>
    <a class="float-right" href="/"><i class="fas fa-home"></i>Home</a>
    <a class="float-right" href="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
    <a class="float-right" href="/signup"><i class="fas fa-user-plus"></i>SignUp</a>
    <button type="button" class="btn btn-outline-warning"><a href="/my_cart"><i class="fas fa-shopping-cart"></i>My Cart</a></button>
    <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>
</nav>