<%- include('header') -%>
<link rel="stylesheet" href="/styles/changepassword.css">

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5 border-secondary rounded shadow-lg p-4 mb-4 bg-white">
        <div class="title">
        <h1>Welcome To ClickNBuy</h1><br>
            <div class="font-weight-bold head">Change your password</div>
            <p>Type and confirm a secure new password for the account.</p><small>
            <% if(locals.msg){%>
                <div class="alert alert-secondary text-center">
                    <%= msg %> 
                </div>
            <% } %>
        </div>

        <form action="/change_password" method="POST">
        <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="newpass">
            </div>
            
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmpass">
            </div><br>
            <button type="submit" class="btn btn-dark">Reset Password</button>
        </form>
        <br>
        <div class="left">
            <ul><P style="color: white;">Password must contain:</P>
            <li>Minimum 8 characters long</li>
            <li>One Uppercase letter atleast</li>
            <li>One lowercase letter atleast</li>
            <li>One number</li>
            </ul>
            </div>
    </div>
    
</div>

<%- include('footer') -%>