<%- include('header') -%>
<link rel="stylesheet" href="/styles/forgotpassword.css">
<script src="https://kit.fontawesome.com/fd7e4b7ef5.js" crossorigin="anonymous"></script>

<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-gifts"></i>&nbsp;ClickNBuy</a>
    <a class="float-right" href="/"><i class="fas fa-home"></i>Home</a>
    <a class="float-right" href="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
    <a class="float-right" href="/signup"><i class="fas fa-user-plus"></i>SignUp</a>
    <button type="button" class="btn btn-outline-warning"><a href="/my_cart"><i class="fas fa-shopping-cart"></i>My Cart</a></button>
  </div>
</nav>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5 border-secondary rounded shadow-lg p-4 mb-4 bg-white">
        <div class="title">
        <h1>Welcome To ClickNBuy</h1><br>
            <div class="font-weight-bold head">Reset Password</div>
            <small>Enter your registered email id to reset password</small><br><br>
            <% if(locals.msg){%>
                <div class="alert alert-secondary text-center">
                    <%= msg %> 
                </div>
            <% } %>
        </div>

        <form action="/forgot" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div><br>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        <br>

    </div>
</div>

<%- include('footer') -%>